body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
    height: 100%;
    width: 100%;
}

.tick text{
    fill: #8E8883;
    font-size: 2.3rem;
}

.tick line{
    stroke: #C0C0BB;
}

.subtitle {
    font-size: 3.5rem;
}

.title {
    font-size: 4rem;
    font-weight: bold;
}

.subtitle, .title {
    fill: #655f5d;
}